h1 {
    color: #6a1b9a;
    text-align: center;
}
p {
    color: #4a148c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.estilos1{
    width: 100%;
    padding: 5px;
    border: 1px solid #8849cf;
    margin: 1px 0;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type="radio"], input[type="checkbox"] {
    margin: 10px;
}
input[type="submit"], input[type="reset"] {
    background-color: #6a1b9a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type="file"]{
    background-color: #8241cc46;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px; 
}
div {
    margin-bottom: 15px;
    background-color: hwb(275 69% 13%);
    padding: 10px;
    border-radius: 4px;
    margin: 50px 50px 50px 50px;
    display: grid;
    width: auto;
    place-items: center;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f3e5f5;
    place-items: center;
}