/* ===== ENCABEZADO ===== */
.encabezado {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: #e8c1d9;
    padding: 5px 5px;

}

.encabezado__titulo {
    color: #c9a44c;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

/* ===== ESTILOS GENERALES ===== */
 body {
    margin: 0;
    background-color: #eecf9e;
    font-family: Arial, sans-serif;
}

p {
    color: #4a0d96;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #6a1b9a;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    color: #8e24aa;
}

/* ===== NAVEGACIÓN FIJA ===== */
.navegacion {
    position: sticky;
    top: 10px;
    height: fit-content;
    background-color: #d1c4e9;
}
 .contenedor-principal {
    display: flex;
    margin-top: 2px; /* espacio por la barra superior */
    height: calc(100vh - 60px);
}
.menu {
    width: 240px;
    background-color: #f8cb6be5;
    padding: 10px 0;
}
        .menu .menu__item {
            padding: 12px 15px;
            display: flex;
            align-items: center;
            gap: 12px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-size: 15px;
        }
        .menu .menu__item:hover {
            background-color: #3a3b3c;
            color: #b0b3b8;
        }
/* ===== CONTENIDO ===== */
.contenido {
            flex-grow: 1;
            background-color:pink;
            padding: 10px 20px;
            overflow-y: auto;
        }

/* ===== ENLACES GENERALES ===== */
a {
    color: #F626FF;
    text-decoration-line: none;
    margin-top: 1px;
}

a:hover {
    color: pink;
}

/* ===== BLOQUES Y ELEMENTOS ===== */
blockquote {
    border-left: 4px solid #bc9ec2;
    margin: 10px 0;
    padding-left: 10px;
    color: #4a0d96;
}

img {
    margin-top: 10px;
    border-radius: 8px;
}

video {
    margin-top: 10px;
    border-radius: 8px;
}

mark {
    background-color: #786ed69d;
    padding: 0 4px;
}

/* ===== TABLAS ===== */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #a71fac;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #d1c4e9;
    text-align: center;
}


