body {
    background-color: #f0e6f6;
    font-family: Arial, sans-serif;
    margin: 20px;
}
p {
    color: #4a148c;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    color: #6a1b9a;
}

h2, h3, h4, h5, h6 {
    color: #8e24aa;
}

.menu__item {
    background-color: #6a1b9a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: center;
}
a{
  color: #F626FF;
}
a:hover {
    color: pink;
}

blockquote {
    border-left: 4px solid #bc9ec2;
    margin: 10px 0;
    padding-left: 10px;
    color: #4a0d96;
}

img {
    margin-top: 10px;
    border-radius: 8px;
}

video {
    margin-top: 10px;
    border-radius: 8px;
}
mark {
    background-color: #786ed69d;
    padding: 0 4px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #a71fac;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #d1c4e9;
    text-align: center;
}
.formulario{
    font-size: 20px;
    color: #6a1b9a;
    font-weight: bold;
}